body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', serif;
}
h1{ 
  margin-top: 0;
  font-family: 'Sacremento', cursive;
}
h2 {
    font-family: 'Montserrat', serif;
}
h3 {
    font-family: 'Montserrat', serif;
}
h4 {
    font-family:  Helvetica, serif;
    font-size: 1em;
}
.top-container {
    background-color:rgb(127, 189, 230);
    position: relative;
    padding-top:100px; 
}
.imgSeattle {
    width: 700px;
    height: 200px;
 
}
.bxSeattle {
    box-shadow: 10px 10px 5px gainsboro;
}
/*--------------------------body css-----------------------
.middle-container{
   
}*/
.imgprofile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 100px auto auto auto;
}
.icon {
   height: 50px;
   width: 100px;
}
.table {
    width: 100%;
    height: 300px;
    border-spacing: 20px;
    background-color: rgb(30, 142, 216);
    margin: 50px auto 70px auto;
    color:#FFFFFF;
}
/*--------------------------bottom css--------------------*/

.span {
    text-decoration: underline;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
   
}
.bottom-cloud {
    position: absolute;
    left:300px;
    bottom: 300px;
}

/*============== footer======================

* footer section */
#footer {
    padding: 5px;
    text-align: center;
}
.social-icon {
    margin: 20px 15px;
    color: black;
}